.protocol_view {
  background: url('http://image.hzymsh.com/mini/images/bg.png');
  background-size: 100% 750px fixed;
  background-position: 0 0;
  background-repeat: no-repeat;
  &_main {
    padding: 0 32px;
  }
  &_item {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    position: relative;
    display: flex;
    align-items: center;
    height: 112px;
    padding-left: 26px;
    box-sizing: border-box;
    font-size: 34px;
    font-family: PingFang SC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
    &_icon {
      width: 64px;
      height: 64px;
      margin-right: 38px;
    }
    &_right {
      position: absolute;
      right: 6px;
      top: 34px;
      width: 18px;
      height: 36px;
    }
  }
}